# Question 1: Online Shopping Platform

Name this Jupyter Notebook as: <br>
`TASK1_<your name>_<class>_<index number>.ipynb`

An online shopping platform stores its data in a SQL database.

The platform needs to store information about products, customers, and order.

Your task is to perform several operations on the database.

For each of the sub-tasks, add a comment statement at the beginning of the code using the hash symbol '#' to indicate the sub-task the program code belongs to.

## Task 1.1

Write Python code to create a SQLite database named online_shop. Ensure that this database is empty before proceeding

Three JSON files are provided, each containing multiple records to be inserted into specific collections within the database. THe files are `PRODUCTS.json`, `CUSTOMERS.json` and `ORDERS.json`.

Create collections named products, customers, and orders, and insert the data from each JSON file into the corresponding collection:

<div style="text-align: right">[3]</div>

<br>
<center>

<table>
  <tr>
    <th>JSON file</th>
    <th>Insert into collection</th>
    <th>Sample JSON record</th>
  </tr>
  <tr>
    <td style="vertical-align: top;">PRODUCTS</td>
    <td style="vertical-align: top;">products</td>
    <td>
      <pre>
    {
        "product_id": 1,
        "name": "Laptop",
        "model": "XPS 13",
        "category": "Electronics",
        "price": 1200,
        "stock": 30
    }
      </pre>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top;">CUSTOMERS</td>
    <td style="vertical-align: top;">customers</td>
    <td>
      <pre>
    {
        "customer_id": 1,
        "name": "Alex",
        "email": "alexB@abc.com",
        "phone": "12345678"
    }
      </pre>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top;">ORDERS</td>
    <td style="vertical-align: top;">orders</td>
    <td>
      <pre>
    {
        "order_id": 1,
        "customer_id": 1,
        "products": [
            {"product_id": 2, 
            "quantity": 1}],
        "order_date": "2024-01-15"
    }
      </pre>
    </td>
  </tr>
</table>



</center>


| **Note**: Use the following syntax to read the JSON file
>```python
> import json
> with open(file_path) as file:
>     data = json.load(file)
>```

In [ ]:
# Task 1.1

## Task 1.2
Add to your program code to retrieve and display all products in the Books category from the `products` collection.

Use the `pprint` module to display your data in a readable format:

> ```python
> from pprint import pprint
> pprint(your_data)
> ```

Run your program

<div style="text-align:right;">[2]</div>

In [ ]:
# Task 1.2

## Task 1.3
Add to your program code to find all orders placed by the customer named `Charles`. Assume there is only one customer with this name.

Display the details of these orders from the orders collection.
User `pprint` to display your data in a readable format.
Run your program.

<div style="text-align:right;">[4]</div>

In [ ]:
# Task 1.3

## Task 1.4
Add to your program code to calculate the revenue generated from all orders.
Display the revenue in a tabular format with headers for Order ID and Revenue.

For each order, compute the revenue as the sum of the price of each product multiplied by the quantity ordered.

<details>
<summary>Optional [ HTML Practice ] </summary>
- Add in a Markdown cell and use html to make a table to display the data
</details>

Run your program.
<div style="text-align: right">[5]</div>

In [ ]:
# Task 1.4