# Question 2: International Coding Competition

Name this Jupyter Notebook as: <br>
`TASK2_<your name>_<class>_<index number>.ipynb`

For each of the sub-tasks, add a comment statement at the beginning of the code using the hash symbol '#' to indicate the sub-task the program code belongs to.

## Task 2.1
Write an insertion sort function that takes three parameters: `data_list`,`index`,`ascending` and returns a sorted `data_list`.

* `data_list` is a list of tuples.
* `index` is an integer to specify an index within a tuple.
* `ascending` is a Boolean flag.

The function will sort `data_list` base on the values at the specified `index` within the tuples. The `ascending` parameter determins the order of the sort: `True` for ascending order, `False` for descending order.

The function specification is:

```python
FUNCTION insertion_sort(data_list: List[Tuple], index: Integer, ascending:Boolean) RETURN List[Tuple]
```
| Note: The syntax that follows the positional argument is just type hinting.

<div style="text-align: right">[6]</div>

> Example of `insertion_sort` function call:
>```python
> data_list = [(1,'Alice', 85), (2, 'Bob',90), (3,'Charlie',80)]
> sorted_list = insertion_sort(data_list, 2, ascending=False)
> print(sorted_list)
>
> # Output: [(2,'Bob',90), (1,'Alice',85), (3,'Charlie',80)]
>```

In [ ]:
# Task 2.1

## Task 2.2
At an international coding competition, the results of the participants were recorded in a text file `CODING_COMPETITION.txt`.

Each record int he file has the following format, with each field separated by a comma:
`<participant_id>,<participant_name>,<country>,<score>`

Write a function `task2_2` that takes a `filename` as parameter, reads the comma-separated data from the file and returns the data as a list of tuples:

> Example: After calling function `task2_2`, these sample records in the file: <br>
>
> `101,Jong Tan,Singapore,210` <br>
> `102,Mei Ling,Singapore,190` <br>
>
> will be returned as <br>
> `[('101','Jong Tan','Singapore',210),('102','Mei Ling','Singapore',190)]`

Test your function by calling `task2_2("CODING_COMPETITION.txt")`
<div style="text-align: right">[5]<div>

In [ ]:
# Task 2.2

## Task 2.3
Write a function `task2_3` that performs the following:
* Use the list of tuples returned from the function `task2_2`.
* Sort the list by country in alphabetical order, using the `insertion_sort` function
* Within each country, sort the participants by their scores in descending order using the `insertion_sort` function.
* Write the sorted data to a text file `SCORE_BY_COUNTRY.txt` in the format: <br>
`<country>,<participant id>,<participant name>,<score>`.
* Each record should be on a new line

The output file should contain lines of record that is first sorted by country then by score. Sample lines in output file:

<center>

<table border="1">
  <tr style="font-family: 'Courier New', monospace;">
    <td>Australia,249,James Scott, 235<br>
        Australia,267,Liam Taylor, 230<br>
        Australia,139,Daniel Miller, 225<br>
        ...<br>
        Singapore,101,Jong Tan,210<br>
        ...</td>
  </tr>
</table>

</center>

Run your function `task2_3` 
<div style="text-align:right;">[9]</div>

In [ ]:
# Task 2.3