# Task 3

The result of an international bowling tournament is stored in a file named `HEX_SCORE.TXT`. Due to a glitch in the scoring system, the values of the score are all in hexadecimal numbers. The file contains the player ID, the country code for the country the player is representing and the scores for the six games played in the tournament.

## Task 3.1

Write Python code to convert a string containing hexadecimal number to denary numbers. You are not allowed to use any built-in Python function.
<div style='text-align: right; font-family: Courier New, monospace;'>[5]</div>

In [ ]:
# Task 3.1

## Task 3.2

Each player's total score for the six games he/she played will be computed and thus determine his ranking in the tournament.

Write Python code to:
- read the data from the file `HEX_SCORE.TXT`
- compute the total score for each player
- use a bubble sort algorithm to sort the player's total score in descending order and then print the ranking of the players as follows in a similar format as given below:

<table style="font-family: 'Courier New', monospace; border-collapse: collapse; width: 20%;">
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">Rank</td>
    <td style="border: 1px solid transparent; text-align: center;">ID</td>
    <td style="border: 1px solid transparent; text-align: center;">Score</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">1</td>
    <td style="border: 1px solid transparent; text-align: center;">Player175</td>
    <td style="border: 1px solid transparent; text-align: center;">1734</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">2</td>
    <td style="border: 1px solid transparent; text-align: center;">Player173</td>
    <td style="border: 1px solid transparent; text-align: center;">1723</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">3</td>
    <td style="border: 1px solid transparent; text-align: center;">Player168</td>
    <td style="border: 1px solid transparent; text-align: center;">1678</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">4</td>
    <td style="border: 1px solid transparent; text-align: center;">Player166</td>
    <td style="border: 1px solid transparent; text-align: center;">1670</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">5</td>
    <td style="border: 1px solid transparent; text-align: center;">Player189</td>
    <td style="border: 1px solid transparent; text-align: center;">1519</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">:</td>
    <td style="border: 1px solid transparent; text-align: center;">:</td>
    <td style="border: 1px solid transparent; text-align: center;">:</td>
  </tr>
</table>

<div style='text-align: right; font-family: Courier New, monospace;'>[6]</div>

In [ ]:
# Task 3.2

## Task 3.3

Each country can be represented by one to five players. The total score for a country is computed by taking the average score of all the players who represented the country. The score should be rounded to an integer value. Print the results of each country as follows:

<table style="font-family: 'Courier New', monospace; border-collapse: collapse; width: 50%;">
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">Country</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">Num. Players</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">Score</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">SIN</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">5</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1533</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">MAS</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">3</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1438</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">IND</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1723</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">KOR</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1519</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">TPE</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">2</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1409</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">MAC</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1400</td>
  </tr>
</table>

<div style='text-align: right; font-family: Courier New, monospace;'>[5]</div>

In [ ]:
# Task 3.3