# Task 4

A bowling competition management system needs to implement a relational database to store information for its players and results during the competition. A web application is also used to display the results and to provide data entry operations.

## Task 4.1

Create a bowling competition database named `Task4.db` with three tables. Write SQL statements to create the three tables Player, Country and Game described by the following:

- The Player table contains information of players in the competition. It has a PlayerID, Name, CountryCode, Gender and DateOfBirth.
- The Country table contains the information of the country represented in the competition. It has a Country Code, CountryName, PlayerID of Team captain.
- The Game table contains the scores obtained by the players during the competition. It has GameID, PlayerID, DatePlayed, StartTime, and Score.

PlayerID is the primary key for the Player table. It should auto-increment. A player plays a maximum of six games in the competition.

GameID is the primary key for the Game table. It should auto-increment.

CountryCode is the primary key for the Country table. The team captain for the country must be a player.

You should include appropriate constraints in your CREATE statements.

Save your SQL code as `Task4_1 <your name>.sql`
<div style='text-align: right; font-family: Courier New, monospace;'>[4]</div>

In [ ]:
# Task 4.1

## Task 4.2

Write Python code to import the data from `COUNTRY.TXT` into the Country table.
<div style='text-align: right; font-family: Courier New, monospace;'>[4]</div>

In [ ]:
# Task 4.2

## Task 4.3

Write a SQL query that shows:

- The player name
- The mean score for each player and the number of games played in the competition.
<div style='text-align: right; font-family: Courier New, monospace;'>[4]</div>

In [ ]:
# Task 4.3

## Task 4.4
Create a web application using Python code and the necessary files that allows players information to be entered into the Players table and stored in the database.
<div style='text-align: right; font-family: Courier New, monospace;'>[6]</div>

In [ ]:
# Task 4.4