# Question 2: International Coding Competition

Name this Jupyter Notebook as: <br>
`TASK2_<your name>_<class>_<index number>.ipynb`

For each of the sub-tasks, add a comment statement at the beginning of the code using the hash symbol '#' to indicate the sub-task the program code belongs to.

## Task 2.1
Write an insertion sort function that takes three parameters: `data_list`,`index`,`ascending` and returns a sorted `data_list`.

* `data_list` is a list of tuples.
* `index` is an integer to specify an index within a tuple.
* `ascending` is a Boolean flag.

The function will sort `data_list` base on the values at the specified `index` within the tuples. The `ascending` parameter determins the order of the sort: `True` for ascending order, `False` for descending order.

The function specification is:

```python
FUNCTION insertion_sort(data_list: List[Tuple], index: Integer, ascending:Boolean) RETURN List[Tuple]
```
| Note: The syntax that follows the positional argument is just type hinting.

<div style="text-align: right">[6]</div>

> Example of `insertion_sort` function call:
>```python
> data_list = [(1,'Alice', 85), (2, 'Bob',90), (3,'Charlie',80)]
> sorted_list = insertion_sort(data_list, 2, ascending=False)
> print(sorted_list)
>
> # Output: [(2,'Bob',90), (1,'Alice',85), (3,'Charlie',80)]
>```

In [6]:
# Task 2.1

def insertion_sort(data_list,index,ascending=True):
    length = len(data_list)
    for i in range(1,length):
        for j in range(i,0,-1):
            if data_list[j][index] < data_list[j-1][index] and ascending:
                data_list[j],data_list[j-1] = data_list[j-1],data_list[j]
            elif data_list[j][index] > data_list[j-1][index] and not ascending:
                data_list[j],data_list[j-1] = data_list[j-1],data_list[j]
            else:
                break
    return data_list
data_list = [(1,'Alice', 85), (2, 'Bob',90), (3,'Charlie',80)]
insertion_sort(data_list,2,ascending=False)

[(2, 'Bob', 90), (1, 'Alice', 85), (3, 'Charlie', 80)]

## Task 2.2
At an international coding competition, the results of the participants were recorded in a text file `CODING_COMPETITION.txt`.

Each record int he file has the following format, with each field separated by a comma:
`<participant_id>,<participant_name>,<country>,<score>`

Write a function `task2_2` that takes a `filename` as parameter, reads the comma-separated data from the file and returns the data as a list of tuples:

> Example: After calling function `task2_2`, these sample records in the file: <br>
>
> `101,Jong Tan,Singapore,210` <br>
> `102,Mei Ling,Singapore,190` <br>
>
> will be returned as <br>
> `[('101','Jong Tan','Singapore',210),('102','Mei Ling','Singapore',190)]`

Test your function by calling `task2_2("CODING_COMPETITION.txt")`
<div style="text-align: right">[5]<div>

In [13]:
# Task 2.2
import csv

def task2_2(filename):
    file_path = f"./Resources/TASK2/{filename}"
    with open(file_path) as file:
        reader = csv.reader(file)
        data = list(reader)

    # For loop    
    for i in range(len(data)):
        data[i][-1] = int(data[i][-1])
        data[i] = tuple(data[i])
        
    # List comprehension
    data = [(*d[:-1],int(d[-1])) for d in data]

    return data

task2_2("CODING_COMPETITION.txt")

[('101', 'Jong Tan', 'Singapore', 210),
 ('102', 'Mei Ling', 'Singapore', 190),
 ('103', 'John Smith', 'USA', 230),
 ('104', 'Emily Davis', 'USA', 85),
 ('105', 'Chen Wei', 'China', 220),
 ('106', 'Li Na', 'China', 105),
 ('107', 'Kumar Patel', 'India', 100),
 ('108', 'Arjun Rao', 'India', 95),
 ('109', 'Alice Johnson', 'UK', 240),
 ('110', 'Robert Brown', 'UK', 70),
 ('111', 'Marco Rossi', 'Italy', 225),
 ('112', 'Giulia Ferrari', 'Italy', 60),
 ('113', 'Ahmed Khan', 'Pakistan', 210),
 ('114', 'Ali Ahmed', 'Pakistan', 80),
 ('115', 'Olga Ivanova', 'Russia', 220),
 ('116', 'Dmitry Petrov', 'Russia', 90),
 ('117', 'Paul Walker', 'Australia', 215),
 ('118', 'Emily Brown', 'Australia', 85),
 ('119', 'Julia Schmidt', 'Germany', 235),
 ('120', 'Matthias Mueller', 'Germany', 55),
 ('121', 'Yuki Tanaka', 'Japan', 225),
 ('122', 'Haruka Sato', 'Japan', 95),
 ('123', 'Karen Wilson', 'Canada', 250),
 ('124', 'David Wilson', 'Canada', 70),
 ('125', 'Lucia Martinez', 'Spain', 205),
 ('126', 'Javier Rodriguez', 'Spain', 40),
 ('127', 'Michael Lee', 'USA', 220),
 ('128', 'Jessica Green', 'USA', 80),
 ('129', 'Han Zhang', 'China', 210),
 ('130', 'Liang Chen', 'China', 90),
 ('131', 'Sarah Johnson', 'UK', 225),
 ('132', 'James Wilson', 'UK', 85),
 ('133', 'Giovanni Bianchi', 'Italy', 220),
 ('134', 'Francesca Russo', 'Italy', 75),
 ('135', 'Ali Hassan', 'Pakistan', 205),
 ('136', 'Farhan Khan', 'Pakistan', 60),
 ('137', 'Anastasia Petrova', 'Russia', 215),
 ('138', 'Ivan Kuznetsov', 'Russia', 45),
 ('139', 'Daniel Miller', 'Australia', 225),
 ('140', 'Laura Smith', 'Australia', 85),
 ('141', 'Isabella Rossi', 'Italy', 250),
 ('142', 'Leonardo Silva', 'Italy', 40),
 ('143', 'Akira Yoshida', 'Japan', 235),
 ('144', 'Emi Tanaka', 'Japan', 95),
 ('145', 'Emma Thompson', 'Canada', 225),
 ('146', 'Matthew Johnson', 'Canada', 70),
 ('147', 'Maria Garcia', 'Spain', 220),
 ('148', 'Antonio Lopez', 'Spain', 60),
 ('149', 'Anna Peterson', 'USA', 250),
 ('150', 'Eric Davis', 'USA', 85),
 ('151', 'Wei Li', 'China', 225),
 ('152', 'Mei Chen', 'China', 55),
 ('153', 'Oliver Harris', 'UK', 240),
 ('154', 'Sophie White', 'UK', 75),
 ('155', 'Francesco Esposito', 'Italy', 210),
 ('156', 'Giovanna Conte', 'Italy', 45),
 ('157', 'Abdul Rahman', 'Pakistan', 200),
 ('158', 'Sana Malik', 'Pakistan', 55),
 ('159', 'Sergei Ivanov', 'Russia', 210),
 ('160', 'Yulia Ivanova', 'Russia', 80),
 ('161', 'Anna Wilson', 'Australia', 225),
 ('162', 'Chris Brown', 'Australia', 90),
 ('163', 'Karen Taylor', 'Canada', 215),
 ('164', 'Michael Lee', 'Canada', 50),
 ('165', 'Diego Ramirez', 'Spain', 210),
 ('166', 'Laura Martinez', 'Spain', 65),
 ('167', 'Nina Li', 'China', 235),
 ('168', 'Yan Li', 'China', 185),
 ('169', 'Emma Scott', 'UK', 225),
 ('170', 'Oliver Jones', 'UK', 80),
 ('171', 'Luca Bianchi', 'Italy', 200),
 ('172', 'Arianna Giordano', 'Italy', 95),
 ('173', 'Asif Ali', 'Pakistan', 195),
 ('174', 'Syed Ahmed', 'Pakistan', 50),
 ('175', 'Irina Sokolova', 'Russia', 220),
 ('176', 'Dmitry Ivanov', 'Russia', 40),
 ('177', 'William Harris', 'Australia', 235),
 ('178', 'Isabella Brown', 'Australia', 90),
 ('179', 'Charlotte Davis', 'Canada', 250),
 ('180', 'Joshua Clark', 'Canada', 65),
 ('181', 'Antonio Garcia', 'Spain', 225),
 ('182', 'Patricia Hernandez', 'Spain', 160),
 ('183', 'Lucas Johnson', 'USA', 250),
 ('184', 'Amelia Adams', 'USA', 170),
 ('185', 'Li Mei', 'China', 220),
 ('186', 'Wang Wei', 'China', 85),
 ('187', 'Sophie Harris', 'UK', 240),
 ('188', 'Jack Wilson', 'UK', 50),
 ('189', 'Paolo Conti', 'Italy', 225),
 ('190', 'Alice Russo', 'Italy', 60),
 ('191', 'Ali Khan', 'Pakistan', 210),
 ('192', 'Mehmet Yilmaz', 'Pakistan', 55),
 ('193', 'Elena Popova', 'Russia', 225),
 ('194', 'Alexei Ivanov', 'Russia', 70),
 ('195', 'James Brown', 'Australia', 235),
 ('196', 'Olivia Taylor', 'Australia', 190),
 ('197', 'Emily White', 'Canada', 230),
 ('198', 'John Lee', 'Canada', 55),
 ('199', 'Marta Lopez', 'Spain', 220),
 ('200', 'Juan Gonzalez', 'Spain', 65),
 ('201', 'Arthur King', 'USA', 250),
 ('202', 'Evelyn Davis', 'USA', 85),
 ('203', 'Zhao Wei', 'China', 225),
 ('204', 'Liang Li', 'China', 55),
 ('205', 'Hannah Evans', 'UK', 235),
 ('206', 'Liam Martin', 'UK', 65),
 ('207', 'Valentina Rossi', 'Italy', 220),
 ('208', 'Marco Ferri', 'Italy', 70),
 ('209', 'Muhammad Ali', 'Pakistan', 200),
 ('210', 'Shazia Ahmed', 'Pakistan', 140),
 ('211', 'Irina Mikhailova', 'Russia', 215),
 ('212', 'Aleksei Morozov', 'Russia', 55),
 ('213', 'Ethan Green', 'Australia', 225),
 ('214', 'Mia Roberts', 'Australia', 175),
 ('215', 'Laura Brown', 'Canada', 250),
 ('216', 'Daniel Harris', 'Canada', 170),
 ('217', 'Antonio Rodriguez', 'Spain', 220),
 ('218', 'Paula Martinez', 'Spain', 45),
 ('219', 'Lucas Anderson', 'USA', 235),
 ('220', 'Sofia Adams', 'USA', 215),
 ('221', 'Chen Li', 'China', 235),
 ('222', 'Mei Wang', 'China', 185),
 ('223', 'Natalie Green', 'UK', 250),
 ('224', 'Oliver Smith', 'UK', 175),
 ('225', 'Giuseppe Esposito', 'Italy', 220),
 ('226', 'Sofia Mancini', 'Italy', 50),
 ('227', 'Ahmed Khan', 'Pakistan', 200),
 ('228', 'Asim Raza', 'Pakistan', 35),
 ('229', 'Elena Popov', 'Russia', 215),
 ('230', 'Sergey Kozlov', 'Russia', 60),
 ('231', 'Charlotte Harris', 'Australia', 220),
 ('232', 'Jack Wilson', 'Australia', 90),
 ('233', 'Rebecca Clark', 'Canada', 235),
 ('234', 'Lucas Allen', 'Canada', 50),
 ('235', 'Daniel Lopez', 'Spain', 225),
 ('236', 'Elena Martinez', 'Spain', 45),
 ('237', 'Mason Miller', 'USA', 250),
 ('238', 'Olivia White', 'USA', 70),
 ('239', 'Yang Liu', 'China', 225),
 ('240', 'Yi Wang', 'China', 85),
 ('241', 'Jessica Lewis', 'UK', 240),
 ('242', 'William Johnson', 'UK', 55),
 ('243', 'Giulia Rossi', 'Italy', 230),
 ('244', 'Marco Russo', 'Italy', 60),
 ('245', 'Saad Khan', 'Pakistan', 200),
 ('246', 'Noor Malik', 'Pakistan', 30),
 ('247', 'Irina Sokolov', 'Russia', 220),
 ('248', 'Alexei Petrov', 'Russia', 40),
 ('249', 'James Scott', 'Australia', 235),
 ('250', 'Emily Johnson', 'Australia', 90),
 ('251', 'Isabella Wilson', 'Canada', 230),
 ('252', 'Michael Brown', 'Canada', 65),
 ('253', 'Javier Martinez', 'Spain', 225),
 ('254', 'Lucia Gonzalez', 'Spain', 50),
 ('255', 'Samuel Green', 'USA', 250),
 ('256', 'Emily Adams', 'USA', 220),
 ('257', 'Lin Zhao', 'China', 235),
 ('258', 'Hua Zhang', 'China', 90),
 ('259', 'Alice Roberts', 'UK', 240),
 ('260', 'James Smith', 'UK', 190),
 ('261', 'Giuseppe Russo', 'Italy', 225),
 ('262', 'Francesca Bianchi', 'Italy', 60),
 ('263', 'Amir Khan', 'Pakistan', 200),
 ('264', 'Shahbaz Ahmed', 'Pakistan', 35),
 ('265', 'Irina Ivanova', 'Russia', 220),
 ('266', 'Dmitry Mikhailov', 'Russia', 30),
 ('267', 'Liam Taylor', 'Australia', 230)]

## Task 2.3
Write a function `task2_3` that performs the following:
* Use the list of tuples returned from the function `task2_2`.
* Sort the list by country in alphabetical order, using the `insertion_sort` function
* Within each country, sort the participants by their scores in descending order using the `insertion_sort` function.
* Write the sorted data to a text file `SCORE_BY_COUNTRY.txt` in the format: <br>
`<country>,<participant id>,<participant name>,<score>`.
* Each record should be on a new line

The output file should contain lines of record that is first sorted by country then by score. Sample lines in output file:

<center>

<table border="1">
  <tr style="font-family: 'Courier New', monospace;">
    <td>Australia,249,James Scott, 235<br>
        Australia,267,Liam Taylor, 230<br>
        Australia,139,Daniel Miller, 225<br>
        ...<br>
        Singapore,101,Jong Tan,210<br>
        ...</td>
  </tr>
</table>

</center>

Run your function `task2_3` 
<div style="text-align:right;">[9]</div>

In [ ]:
# Task 2.3
import csv

def task2_3(data):
    lib = {}
    for i in data:
        country = i[2]
        if country not in lib.keys():
            lib[country] = [i]
        else:
            lib[country] = lib[country] + [i]
    countries_by_alpha = insertion_sort(list(lib.keys()),0,ascending = True)
    w = []
    for country in countries_by_alpha:
        w += insertion_sort(lib[country],-1,ascending=False)
    with open("./Resources/TASK2/SCORE_BY_COUNTRY.txt","w",newline="") as file:
        writer = csv.writer(file)
        writer.writerows(w)

data = task2_2("CODING_COMPETITION.txt")
task2_3(data)